/* already imported in App.js */
/* @import '~antd/dist/antd.css'; */

.ant-layout-header {
    padding: 0 20px;
}
.brand-title {
    color: #fff;
}
.main-layout {
    min-height: calc(100vh - 64px);
}