/* already imported in App.js */
/* @import '~antd/dist/antd.css'; */

.ant-layout-header {
    padding: 0 20px;
}

.d-inline-block {
    display: inline-block;
}

.header .trigger {
    margin-right: 10px;
}

.brand-title {
    margin: 0 auto;
    font-size: 18px;
}

.header .trigger,
.brand-title {
    color: #fff;
    vertical-align: middle;
}

.main-layout {
    min-height: calc(100vh - 64px);
}

.chart-head {
    text-align: center;
    margin-bottom: 15px;
}

.mb-2 {
    margin-bottom: 20px;
}

.chart-height {
    height: 250px;
}