/* already imported in App.js */
/* @import '~antd/dist/antd.css'; */


.ant-layout-header {
    padding: 0 20px;
}

.d-inline-block {
    display: inline-block;
}

.header .trigger {
    margin-right: 10px;
}

.brand-title {
    margin: 0 auto;
    font-size: 18px;
}

.header .trigger,
.brand-title {
    color: #fff;
    vertical-align: middle;
}

.main-layout {
    min-height: calc(100vh - 64px);
}

.chart-head {
    text-align: center;
    margin-bottom: 15px;
}

.mb-2 {
    margin-bottom: 20px;
}

.text-right {
    text-align: right;
}

.chart-height {
    height: 250px;
}

.header-fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.layout-wrapper-adjust {
    padding: 0 15px;
    margin-left: 200px;
    margin-top: 64px;
    min-height: calc(100vh - 64px); /* 100vh - header's height */
}

.layout-content {
    background: '#fff';
    padding: 24px;
    margin: 0;
    min-height: 280px
}

.silder-fixed {
    overflow: auto;
    height: 100vh;
    position: fixed;
    margin-top: 64px;
}